body {
    margin: 0;
    background-color: #D9D9D9;
}

html, body { height: 100%; }
* { box-sizing: border-box; }

.header {
    position: relative;
    height: 300px;
    background-color: #428025;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 250px;
    box-sizing: border-box;
}

.mains {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    min-height: calc(100vh - 300px - 100px);
    padding: 50px 20px;
    display: flex;
    gap: 50px;             
    align-items: stretch;   
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

.footer {
    position: relative;
    padding: 50px 0;
    background-color: #428025;
    width: 100%;
}

.contact {
    text-align: center;
    background-color: #D9D9D9;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    border-radius: 25px;
}

.contact:hover {
    background-color: #b3b3b3;
    border-style: dashed;
}

.p1 {
    font-family: monospace;
    font-size: 24px;
    color: #000000;
    padding: 5px 30px;
}

.projects {
    text-align: center;
    background-color: #D9D9D9;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    border-radius: 25px;

}

.projects:hover {
    background-color: #b3b3b3;
    border-style: dashed;
}

.name {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    border-radius: 25px;
    background-color: #D9D9D9;
}

.text1,
.image1 {
    flex: 1 1 0;
    min-width: 0;
    border-radius: 24px;
    overflow: hidden;
    box-sizing: border-box;
}

.text1 {
    font-family: monospace;
    background-color: #428025;
    color: #fff;
    padding: 40px;
    border: 2px solid #000;
    border-radius: 50px;
    display: block;
}

.p2_1 {
    font-size: 50px;
}

.p2_2 {
    font-size: 43px;
}

.p2_3 {
    font-size: 35px;
}

.image1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    padding: 0;
    border-radius: 50px;
}

.image1 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p3 {
    font-family: cursive;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.header1 {
    position: relative;
    height: 150px;
    background-color: #428025;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 250px;
    box-sizing: border-box;
}

.name1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #000;
    background-color: #D9D9D9;
    border-radius: 25px;
    padding: 0px 30px;
}

.back_button1 {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.text2 {
    background-color: #428025;
    padding: 40px 20px;
    border: 2px solid #000;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 1 auto;
    min-height: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.p4 {
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-family: monospace;
}

.p4_1 {
    font-size: 22px;
    color: #fff;
    font-family: monospace;
    margin: 10px auto 0;
    padding: 0;
    list-style-position: inside;
    display: inline-block;
    text-align: left;
}

.mains2 {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height: calc(100vh - 150px - 100px);
    padding: 50px 20px;
    display: flex;
    gap: 50px;
    align-items: stretch;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}